---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-services
  namespace: flux-system
spec:
  path: ./kubernetes/apps/networking/external-services/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  retryInterval: 2m
  timeout: 1m
