---
# yaml-language-server: $schema=https://cluster-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
  namespace: networking
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  values:
    image:
      registry: ghcr.io
      repository: k8s-gateway/k8s_gateway
      tag: 1.6.1@sha256:da10a3b83ef34ac98f735b6f47d719a6f00760299cf3dcc70d1ec6c93f6e8de2
      pullPolicy: IfNotPresent
    fullnameOverride: k8s-gateway
    domain: "smbonn.me"
    ttl: 1
    service:
      type: LoadBalancer
      port: 53
      annotations:
        lbipam.cilium.io/ips: 192.168.1.220
      externalTrafficPolicy: Cluster
    watchedResources: ["HTTPRoute", "Service"]
    filters:
      gatewayClasses: ["envoy-internal"]
