{% for namespace in ["cert-manager", "kube-system", "flux-system"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: smbonn-me-tls
  namespace: cert-manager
  annotations:
    cert-manager.io/alt-names: '*.smbonn.me,smbonn.me'
    cert-manager.io/certificate-name: smbonn-me
    cert-manager.io/common-name: smbonn.me
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: op://HomeLab/smbonn-me-tls/tls.crt
  tls.key: op://HomeLab/smbonn-me-tls/tls.key
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: kube-system
stringData:
  token: op://HomeLab/1password/OP_CONNECT_TOKEN
