---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app doplarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: sonarr
      namespace: media
    - name: radarr
      namespace: media
  values:
    controllers:
      doplarr:
        containers:
          app:
            image:
              repository: ghcr.io/kiranshila/doplarr
              tag: v3.7.0@sha256:8939a0d3f2081eb815abe3a4f8df7d3c7d16046e7931ac88ac841f16a9680179
            envFrom:
              - secretRef:
                  name: doplarr-secret
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 500Mi
    service:
      app:
        controller: *app
        enabled: false
