---
originRequest:
  originServerName: "external.smbonn.me"

ingress:
  - hostname: "smbonn.me"
    service: https://envoy-external.networking.svc.cluster.local:443
  - hostname: "*.smbonn.me"
    service: https://envoy-external.networking.svc.cluster.local:443
  - service: http_status:404
