---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      tautulli:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.1@sha256:6983eea603ee230b189f2d32e7d7fc0bb94917df735a71ba20460c4991877645
            env:
              TZ: America/New_York
              TAUTULLI_HTTP_PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 1Gi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: tautulli.png
          gethomepage.dev/name: Tautulli
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: tautulli
          gethomepage.dev/widget.url: http://tautulli.media:80
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_TAUTULLI_KEY}}`}}"
          gethomepage.dev/widget.enableUser: "true"
        hostnames:
          - "{{ .Release.Name }}.smbonn.me"
        parentRefs:
          - name: envoy-internal
            namespace: networking
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
