---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nut-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    fullnameOverride: *app
    controllers:
      nut-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.2.2@sha256:a203474e5b24eddf33b45013d9dd72c41769abeaad6a8cbf6316610a96dc5a95
            env:
              TZ: America/New_York
            args:
              # export all variables
              - --nut.vars_enable=
            resources:
              limits:
                cpu: 100m
                memory: 100Mi
    service:
      app:
        controller: *app
        ports:
          metrics:
            enabled: true
            protocol: TCP
            port: 9199
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "exporters.smbonn.me"
