---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nut-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    fullnameOverride: *app
    controllers:
      nut-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.2.3@sha256:a9e6c0100ebc0e8ec2c7a46de8af1366df8abd5d794f175b8ee6b2361819ee6e
            env:
              TZ: America/New_York
            args:
              # export all variables
              - --nut.vars_enable=
            resources:
              limits:
                cpu: 100m
                memory: 100Mi
    service:
      app:
        controller: *app
        ports:
          metrics:
            enabled: true
            protocol: TCP
            port: 9199
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "exporters.smbonn.me"
