machine:
  network:
    hostname: k8s-master-1
  install: # i915, intel-ucode, thunderbolt
    diskSelector:
      model: Samsung SSD 870
    image: factory.talos.dev/installer/f92cecb9f6acede2470b58eda86b66f51277ebf7aea88db6bd5a8b996e9ae9e2:{{ ENV.TALOS_VERSION }}

