---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/namespace
  - ../../components/sops
  - ../../components/substitutions
resources:
  - ./bookstack/ks.yaml
  - ./homepage/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./pterodactyl/ks.yaml
  - ./speedtest/ks.yaml
