---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pterodactyl
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: redis
      namespace: databases
    - name: mariadb
      namespace: databases
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      pterodactyl:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/pterodactyl/panel
              tag: v1.11.11@sha256:3ad185c83818944cfd4dba4dcefbca5ffb64655aaa63363f8f76ce41cd19873f
            env:
              DB_HOST: mariadb.databases.svc.cluster.local
              DB_PORT: 3306
              DB_DATABASE: "panel"
              DB_USERNAME: "pterodactyl"
              REDIS_HOST: redis.databases.svc.cluster.local
              CACHE_DRIVER: "redis"
              SESSION_DRIVER: "redis"
              QUEUE_DRIVER: "redis"
              APP_URL: "https://pterodactyl.smbonn.me"
              APP_ENV: "production"
              APP_ENVIRONMENT_ONLY: "false"
              APP_TIMEZONE: America/New_York
              TRUSTED_PROXIES: "*"
            envFrom:
              - secretRef:
                  name: pterodactyl-secret
            resources:
              requests:
                cpu: 50m
                memory: 300M
              limits:
                memory: 500M
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 80
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: pterodactyl.png
          gethomepage.dev/name: Pterodactyl
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/widget.type: pterodactyl
          gethomepage.dev/widget.url: http://pterodactyl.default
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_PTERODACTYL_KEY}}`}}"
        hostnames:
          - pterodactyl.smbonn.me
        parentRefs:
          - name: envoy-external
            namespace: networking
        rules:
          - filters:
            - type: RequestHeaderModifier
              requestHeaderModifier:
                set:
                  - name: X-Forwarded-Proto
                    value: https
            - type: ResponseHeaderModifier
              responseHeaderModifier:
                set:
                  - name: X-Forwarded-Proto
                    value: https
            - type: CORS
              cors:
                allowOrigins:
                  - "*"
                allowMethods:
                  - GET
                  - PUT
                  - POST
                  - DELETE
                  - OPTIONS
                allowHeaders:
                  - "*"
                maxAge: 100
    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          pterodactyl:
            app:
              - subPath: "data"
                path: "/app/var"
              - subPath: "nginx"
                path: "/etc/nginx/http.d"
              - subPath: "logs"
                path: "/app/storage/logs"
