---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bookstack
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: mariadb
      namespace: databases
    - name: volsync
      namespace: storage
  values:
    controllers:
      bookstack:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/bookstack
              tag: v24.05.4-ls166
            env:
              TZ: America/New_York
              PUID: 1000
              PGID: 1000
              APP_URL: https://bookstack.${SECRET_DOMAIN}
              DB_HOST: ${SECRET_MARIADB_URL}
              DB_PORT: 3306
              DB_DATABASE: "bookstackapp"
              DB_USERNAME: "bookstack"
              DB_PASSWORD: ${BOOKSTACK_MARIADB_PASSWORD}
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: https://raw.githubusercontent.com/smbonn2005/homeops/main/icons/bookstack.png
          gethomepage.dev/name: Bookstack
          gethomepage.dev/group: Observability
          gethomepage.dev/description: Documentation and Wiki
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
