---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
components:
  - ../../components/common
resources:
  - ./certificates/ks.yaml
  - ./cloudflared/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns/ks.yaml
  # - ./external-services/ks.yaml
  # - ./nginx/ks.yaml
  - ./k8s-gateway/ks.yaml
