---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mariadb
spec:
  interval: 30m
  chart:
    spec:
      chart: mariadb
      version: 20.2.4
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    auth:
      existingSecret: mariadb-secret
    metrics:
      enabled: true
      resourcesPreset: small
      serviceMonitor:
        enabled: true
    primary:
      resourcesPreset: small
      persistence:
        enabled: true
        existingClaim: *app
    initdbScripts:
      create-pterodactyl.sql: |
        CREATE DATABASE IF NOT EXISTS panel;
        CREATE USER IF NOT EXISTS 'pterodactyl'@'%' IDENTIFIED BY '${PTERODACTYL_MARIADB_PASSWORD}';
        GRANT ALL PRIVILEGES ON panel.* to 'pterodactyl'@'%';
      create-bookstack.sql: |
        CREATE DATABASE IF NOT EXISTS bookstackapp;
        CREATE USER IF NOT EXISTS 'bookstack'@'%' IDENTIFIED BY '${BOOKSTACK_MARIADB_PASSWORD}';
        GRANT ALL PRIVILEGES ON bookstackapp.* to 'bookstack'@'%';
