---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speedtest
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      speedtest:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: &secret speedtest-tracker-secret
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: 1.6.8@sha256:35e6700501de3f5621ea3afec87ae7330c113cfacf67671620575fc5a960ed4b
            env:
              DISPLAY_TIMEZONE: America/New_York
              DB_CONNECTION: pgsql
              SPEEDTEST_SCHEDULE: "0 */1 * * *"
              SPEEDTEST_SERVERS: "29093" #29094 stopped responding for some reason, swapping temporarily.
              PRUNE_RESULTS_OLDER_THAN: 120
            envFrom:
              - secretRef:
                  name: *secret
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: https://raw.githubusercontent.com/smbonn2005/homeops/main/icons/speedtest.png
          gethomepage.dev/name: Speedtest
          gethomepage.dev/group: Observability
          gethomepage.dev/widget.type: speedtest
          gethomepage.dev/widget.url: http://speedtest.default
        hosts:
          - host: &host "{{ .Release.Name }}.smbonn.me"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      config:
        enabled: true
        existingClaim: *app
