---
apiVersion: v1
kind: Service
metadata:
  name: xen-ui
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
---
apiVersion: v1
kind: Endpoints
metadata:
  name: xen-ui
subsets:
  - addresses:
      - ip: "192.168.1.201"
    ports:
      - name: http
        port: 80
        protocol: TCP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: &app xen-ui
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  hostnames:
    - xen.smbonn.me
  parentRefs:
    - name: envoy-internal
      namespace: networking
      port: 443
  rules:
    - backendRefs:
        - name: xen-ui
          port: 80
