---
apiVersion: v1
kind: Service
metadata:
  name: nas-ui
  namespace: networking
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Endpoints
metadata:
  name: nas-ui
  namespace: networking
  labels:
    kubernetes.io/service-name: nas-ui
addressType: IPv4
subsets:
  - addresses:
      - ip: "192.168.1.4"
    ports:
      - name: http
        port: 80
        protocol: TCP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: &app nas-ui
  namespace: networking
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/icon: truenas.png
    gethomepage.dev/name: TrueNAS
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/widget.type: truenas
    gethomepage.dev/widget.url: http://fs01.smbonn.me
    gethomepage.dev/widget.key: '{{HOMEPAGE_VAR_FS01_KEY}}'
spec:
  parentRefs:
    - name: envoy-internal
      namespace: networking
  hostnames:
    - fs01.smbonn.me
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: nas-ui
          port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: nas-backend-tls
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: nas-ui
      namespace: networking
  validation:
    wellKnownCACertificates: System
    hostname: smbonn.me
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: nas-backend
  namespace: networking
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: nas-ui
  useClientProtocol: true
  connection:
    bufferLimit: 8Mi
  timeout:
    http:
      requestTimeout: 0s
      connectionIdleTimeout: 3600s
