---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage
components:
  - ../../components/namespace
  - ../../components/sops
  - ../../components/substitutions
resources:
  - ./minio/ks.yaml
  - ./snapshot-controller/ks.yaml
  - ./volsync/ks.yaml
